
<div>
  <h2 class="header">Registrar favorito</h2>
  <form [formGroup]="form">
    <textarea name="" id="" formControlName="observacion" cols="30" rows="4" placeholder="Escriba la observacion"></textarea>

  </form>
  <ng-container *ngIf="!submittedForm">
    <div class="error" *ngIf="!form.controls['observacion'].valid">
      <div *ngIf="this.form.get('observacion')?.errors?.['havespace']">
        {{massaje}}
      </div>
      <span *ngIf="this.form.get('observacion')?.errors?.['maxlength']">
        El máximo de carácteres permitido es 100
      </span>
    </div>
  </ng-container>
<div style="display: grid;place-items: center;">
  <div style="display: inline-flex; margin: auto;">
    <button class="cerrar" mat-button [mat-dialog-close]="true">	<mat-icon>cancel</mat-icon></button>
    <button (click)="postGuardar()" class="save" mat-button ><mat-icon>save</mat-icon></button>

  </div>

</div>


</div>
