

<div *ngFor="let item of arrayPersona" class="infoPersonaje" >


  <div><img src="{{item.image}}" alt="" class="imagen"></div>
  <div>
    <strong>ID: </strong>
    <label for="">{{item.id}}</label><br>
    <strong>Nombre: </strong>
    <label for="">{{item.name}}</label><br>
    <strong>Género: </strong>
    <label for="">{{item.gender}}</label><br>
    <strong>Especie: </strong>
    <label for="">{{item.species}}</label><br>
    <strong>Estado: </strong>
    <label for="">{{item.status}}</label><br>
    <button   (click)="openDialog(item.id)" >Añadir a mis favoritos</button>



  </div>
  <br>
</div>
